:root {
	--width-content: 400px;
	--color-function: oklch(80% 0 0);
	--color-function-hover: oklch(from var(--color-function) calc(l - 0.05) c h);
	--color-function-active: oklch(from var(--color-function) calc(l + 0.05) c h);
}

main {
	max-width: var(--width-content);
	margin-inline: auto;
}

header nav {
	display: flex;
	gap: 1rem;
}

input,
label,
button {
	cursor: pointer;
}
