.Keyboard {
	display: grid;
	grid-template-columns: repeat(7, 1fr);
	grid-template-rows: repeat(3, 1fr);

	button {
		width: var(--width-key);
		aspect-ratio: 1;
		user-select: none;
	}

	.characters {
		grid-column: span 6;
		grid-row: 1 / -1;
		display: grid;
		grid-template-columns: subgrid;
		grid-template-rows: subgrid;
		grid-auto-flow: column;
	}

	.functions {
		grid-row: 1 / -1;
		display: grid;
		grid-template-rows: subgrid;

		button {
			background-color: var(--color-function);

			&:hover {
				background-color: var(--color-function-hover);
			}

			&:active {
				background-color: var(--color-function-active);
			}
		}
	}
}
